{{#each this}}
  <li class='movies-list__item'>
    <div class='poster-thumb {{#if placeholder}}placeholder{{/if}}'>
    {{#if placeholder}}
      <span class='material-icons-outlined'>image_not_supported</span>
    {{else}}
      <img
        src='https://image.tmdb.org/t/p/original/{{ poster_path }}'
        width="274"
        height="398"
        alt='{{ original_title }}'
        data-id='{{ id }}'
      />
    {{/if}}
    </div>
    <div class='movie-data'>
      <h2 class='movie-data__title'>{{ original_title }}</h2>
      <p class='movie-data__details'>
        <span>{{ genres }} |</span>
        <span class='movie-data__year'>{{ release_date }}</span>
        <span class='movie-data__rating'>{{ vote_average }}</span>
      </p>
    </div>
  </li>
{{/each}}